.skills {
  height: 80px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: 1em;
  left: -2.5em;
}

.skills img {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 736px) {

  .skills {
    display: none;
  }
}

.project {
  text-decoration: none;
}

.project h5 {
  font-size: 0.9em;
  font-weight: 300;
}

.project ul {
  list-style: disc;
}

.project li {
  font-size: 0.75em;
}
