.skills {
  height: 80px;
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.skills img {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.project {
  text-decoration: none;
}

.project h5 {
  font-size: 0.9em;
  font-weight: 300;
}

.project ul {
  list-style: disc;
}

.project li {
  font-size: 0.75em;
}
